@media screen and (max-width: 1200px){
    .card{
        width: calc(100%/4 - 30px);
    }
    .card-50{
        width: calc(100%/4 - 30px);
    }
    .cards{
        justify-content: flex-start;
        gap: 0 3vw;
    }
}
@media screen and (max-width: 998px){
    .sfoglia-tutto ul{
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media screen and (max-width:768px){
    .cards{
        gap: 0 1vw;
    }
    .card , .card-50{
        width: calc(100%/4 - 6px);
        padding-bottom: 0;
    }
    .card-tlt-song h4{
        line-height: 16px;
        font-weight: 800;
        font-size: 15px;
    }
    .top-card{
        padding-top: 25px;
    }
    .barra-time{
        width: 100%;
    }
    .volume{
        width: 170px;
    }
    .brano{
        width: 229px;
    }
    .play{
        width: calc(100% - 230px* 2);
    }
}
@media screen and (max-width:576px){
    .sfoglia-tutto ul li{
        padding: 10px;
    }
    .card , .card-50{
        width: calc(100%/2 - 6px);
    }
    .cards{
        gap: 0 2vw;
    }
    .cards-50{
        gap: 0 10px;
    }
    .brano{
        width: 220px;
    }
    .listen-to-icons ul{
        display: block;
    }
    .listen-to-icons ul li{
        padding: 2px;
    }
    .play{
        width: calc(100% - 300px);
    }
    .tlt-listen-to p{
        font-size: 12px;
    }
    .barra-time{
        width: 60%;
    }
    .time p , .time-end p{
        font-size: 12px;
    }

}
@media screen and (max-width: 476px){
   .side-bar .logo{
    display: none;
   } 
   .side-bar .logo-none{
    display: block;
   }
   .menu-buttons span , .menu-buttons hr{
    display: none;
   }
   .playlists{
    display: none;
   }
   .profile-download span , .profile-download hr{
    display: none;
   }
   .profile-download{
        display: block;
   }
   .margin-rght-10{
    margin-right: 0;
   }

   .width-icon-dwl{
    width: 40px;
   }
   .pad-user{
    padding-left: 8px;
   }
   .side-bar{
    width: 40px;
   }
   .content{
    width: calc(100% - 40px);
   }
   .margin-lft-25{
    margin:0;
   }
   .menu-buttons img{
    margin-left: 0px;
   }
   .margin-lft-23{
    margin-left: 0px;
   }
   .side-bar ul li img{
    width: 70%;
    margin-left: 5px;
   }
   .logo-none{
    width: 80%;
    margin-left: 5px;
    margin-top: 10px;
   }
   .tlt-listen-to h4{
    font-size: 13px;
   }
   .tlt-listen-to{
    width: 35%;
   }
   .minute {
    width: 87%;
   }
   .commands-play .play-icons {
    padding: 0px 8px;
    }
    .commands-play {
        width: 85%;
    }
    .play {
        width: 40%;
    }
    .time {
        padding-right: 30px;
    }

}