*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*MAIN*/
main{
    height: calc(100vh - 110px);
    display: flex;
}
/*GALLERY*/
.content{
    width:calc(100% - 110px);
    background-color: #141922;
    overflow-y: auto;
}
/*HEADER*/
header{
    position: sticky;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}
/*SIDE-BAR*/
.side-bar{
    height: 100%;
    width: 280px;
    background-color: black;
}
/*FOOTER*/
footer{
    height: 110px;
    background-color: #282828;
}
/*COMMONS*/
/*UTILITIES*/