*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*MAIN*/
main{
    height: calc(100vh - 110px);
    display: flex;
}
/*GALLERY*/
.content{
    width:calc(100% - 110px);
    background-color: #141922;
    overflow-y: auto;
}
.sfoglia-tutto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sfoglia-tutto ul{
    display: flex;
    list-style-type: none;
}
.sfoglia-tutto ul li{
    color: #696363;
    padding: 17px;
    font-weight: 800;
}
.hr-evidenza{
    width: calc(100%/3);
    border-color: greenyellow;
    margin: 3px calc(100%/3);
}
.recently-played{
    width: 100%;
    height: 320px;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.top-card{
    width: 100%;
    height: 20%;
    background-color: fuchsia;
}
.card{
    width: calc(100%/6 - 30px);
    height: 80%;
    background-color: blue;
    border: 1px solid black;
}
.card-img{
    width: 100%;
    height: 70%;
    background-color: brown;
    border: 1px solid black;
}
.card-tlt-song{
    width: 100%;
    height: 30%;
    background-color: chocolate;
    border: 1px solid black;
}
.creato-da-jd{
    width: calc(100%/3);
    height: 150px;
    background-color: blueviolet;
}
.artisti-popolari{
    width: calc(100%/3);
    height: 150px;
    background-color: cadetblue;
}
/*HEADER*/
header{
    position: sticky;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: flex;
    justify-content: flex-end;
}
.btn{
    height: 39%;
    padding: 10px 28px;
    border: 1px solid white;
    align-self: center;
    border-radius: 18px;
}

.side-bar .logo{
    width: 70%;
    margin: 23px 25px;
}
/*SIDE-BAR*/
.side-bar{
    height: 100%;
    width: 280px;
    background-color: black;
}
.top-side-bar{
    min-height: calc(100% - 77px);
}
.menu-buttons hr{
    height: 33px;
    border-color: greenyellow;
}
.menu-buttons{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.menu-buttons img{
    margin-right: 5px;
}
.side-bar ul li{
    list-style-type: none;
    font-weight: 800;
}
.side-bar ul li img{
    width: 13%;
}
.add-playlist{
    padding: 10px;
    background-color: lightgrey;
    color: black;
}
.list-playlist li{
    padding: 6px 0;
}
.profile-download{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.width-icon-dwl{
    width: 10%;
}
.profile-download hr{
    width: 85%;
    text-align: center;
    border-color: darkgrey;
    margin: 7px 0;
}
.user-icon{
    background-color: grey;
    color:white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/*FOOTER*/
footer{
    height: 110px;
    background-color: #282828;
}
/*COMMONS*/
/*UTILITIES*/
/*color*/
.txt-grey{
    color: gray;
}
.txt-white{
    color: white;
}
/*font*/
.font-size-17{
    font-size: 17px;
}
.font-wheight-800{
    font-weight: 800;
}
.margin-top-20{
    margin-top: 20px;
}
/*margin*/
.margin-lft-25{
    margin-left: 25px;
}
.margin-lft-23{
    margin-left: 23px;
}
.margin-rght-10{
    margin-right: 10px;
}
.margin-rght-5{
    margin-right: 5px;
}
/*FLEXBOX*/
.ds-flex{
    display: flex;
}
